{% extends "_base.html" %} {% block content %}
<div class="z">
    <h1>Select Video quality</h1>
<form action="/download_vid" method="POST">
    <label for="colors">Choose Video Quality:</label><br>
    {% for v_d in v_data %}
    <input type="radio" id="res" name="quality" value="{{v_d['itag']}}">
    <label for="res">{{v_d['Resolution']}}: {{v_d['size']}}MB</label><br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>            
</form>
</div>
<br>
<div class="back">
    <a href="{{ url_for('accounts.login') }}"><button type="button" class="btn btn-dark me-2">Go Back</button></a>
</div>



{% endblock %}