{% extends "_base.html" %} {% block content %}

<h1 class="text-center">Welcome !</h1>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <main class="form-signin w-100 m-auto">
    <form action="/forget_password" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input
        type="email"
        name="email"
        class="form-control"
        value=""
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
      
    </main>
  </div>
  <div class="col-md-4"></div>
</div>


{% endblock %}
