{% extends "base_t.html" %} {% block content %}

<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main">
    <!-- wrap @s -->
    <div class="nk-wrap nk-wrap-nosidebar">
      <!-- content @s -->
      <div class="nk-content">
        <div class="nk-block nk-block-middle nk-auth-body wide-xs">
          <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
              <div class="nk-block-head">
                <div class="nk-block-head-content">
                  <h4 class="nk-block-title">Enter New Password</h4>
                </div>
              </div>
              <form
                action="{{ url_for('core.reste_password',user_id=site_user_id) }}"
                method="POST"
              >
                <div class="form-group">
                  <div class="form-control-wrap">
                    <a
                      href="#"
                      class="form-icon form-icon-right passcode-switch lg"
                      data-target="password"
                    >
                      <em class="passcode-icon icon-show icon ni ni-eye"></em>
                      <em
                        class="passcode-icon icon-hide icon ni ni-eye-off"
                      ></em>
                    </a>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      id="password"
                      name="password"
                      placeholder="Enter your new passcode"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-lg btn-primary btn-block"
                    type="submit"
                  >
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- wrap @e -->
    </div>
    <!-- content @e -->
  </div>
  <!-- main @e -->
</div>
{% endblock %}
