{% extends "base_t.html" %} {% block content %}

<div class="nk-app-root">
  <!-- wrap @s -->
  <div class="nk-wrap">
    <!-- content @s -->
    <div class="nk-content nk-content-fluid">
      <div class="container-xl wide-xl">
        <div class="nk-content-inner">
          <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
              <div class="nk-block-between g-3">
                <div class="nk-block-head-content">
                  <h3 class="nk-block-title page-title">
                    Users /
                    <strong class="text-primary small"
                      >{{site_user.fullname}}</strong
                    >
                  </h3>
                  <div class="nk-block-des text-soft">
                    <ul class="list-inline">
                      <li>
                        User ID:
                        <span class="text-base">{{ site_user.id }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="nk-block-head-content">
                  <a
                    href="{{ url_for('core.user_list') }}"
                    class="btn btn-outline-light bg-white d-none d-sm-inline-flex"
                    ><em class="icon ni ni-arrow-left"></em><span>Back</span></a
                  >
                  <a
                    href="html/user-list-regular.html"
                    class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"
                    ><em class="icon ni ni-arrow-left"></em
                  ></a>
                </div>
              </div>
            </div>
            <!-- .nk-block-head -->
            <div class="nk-block">
              <div class="card card-bordered">
                <div class="card-aside-wrap">
                  <div class="card-content">
                    <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                      <li class="nav-item">
                        <a class="nav-link active" href="#"
                          ><em class="icon ni ni-user-circle"></em
                          ><span>Personal</span></a
                        >
                      </li>
                    </ul>
                    <!-- .nav-tabs -->
                    <div class="card-inner">
                      <div class="nk-block">
                        <!-- .nk-block-head -->
                        <div class="profile-ud-list">
                          <div class="profile-ud-item">
                            <div class="profile-ud wider">
                              <span class="profile-ud-label">Full Name</span>
                              <span class="profile-ud-value"
                                >{{site_user.fullname}}</span
                              >
                            </div>
                          </div>
                          <div class="profile-ud-item">
                            <div class="profile-ud wider">
                              <span class="profile-ud-label">Email</span>
                              <span class="profile-ud-value"
                                >{{site_user.email}}</span
                              >
                            </div>
                          </div>
                          <div class="profile-ud-item">
                            <div class="profile-ud wider">
                              <span class="profile-ud-label">Phone</span>
                              <span class="profile-ud-value"
                                >{{site_user.phone}}</span
                              >
                            </div>
                          </div>
                          <div class="profile-ud-item">
                            <div class="profile-ud wider">
                              <span class="profile-ud-label">Password</span>
                              <span class="profile-ud-value"
                                >{{site_user.password}}</span
                              >
                            </div>
                          </div>
                        </div>
                        <!-- .profile-ud-list -->
                      </div>
                    </div>
                    <!-- .card-inner -->
                  </div>
                </div>
                <!-- .card-aside-wrap -->
              </div>
              <!-- .card -->
            </div>
            <!-- <div class="nk-block-head-content">
              <a href="{{ url_for('core.delete_user', user_id=site_user.id) }}" class="btn btn-danger"
                ><span>DELETE</span></a
              >
            </div> -->
            <!-- .nk-block -->
          </div>
        </div>
      </div>
    </div>
    <!-- content @e -->
  </div>
  <!-- wrap @e -->
</div>

{% endblock %}
